geocatching/src/CacheList.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="CacheList">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Chache">
          <xs:complexType mixed="true">
            <xs:sequence>
              <xs:element name="location">
                <xs:complexType>
                  <xs:simpleContent>
                    <xs:extension base="xs:string">
                      <xs:attribute type="xs:float" name="lat"/>
                      <xs:attribute type="xs:float" name="lon"/>
                    </xs:extension>
                  </xs:simpleContent>
                </xs:complexType>
              </xs:element>
              <xs:element type="xs:string" name="name"/>
              <xs:element type="xs:string" name="datum"/>
              <xs:element type="xs:string" name="typ"/>
              <xs:element name="Owner">
                <xs:complexType>
                  <xs:simpleContent>
                    <xs:extension base="xs:string">
                      <xs:attribute type="xs:string" name="b_id"/>
                    </xs:extension>
                  </xs:simpleContent>
                </xs:complexType>
              </xs:element>
              <xs:element name="parkplatz">
                <xs:complexType>
                  <xs:simpleContent>
                    <xs:extension base="xs:string">
                      <xs:attribute type="xs:float" name="lat"/>
                      <xs:attribute type="xs:float" name="lon"/>
                    </xs:extension>
                  </xs:simpleContent>
                </xs:complexType>
              </xs:element>
              <xs:element name="informationen">
                <xs:complexType mixed="true">
                  <xs:sequence>
                    <xs:element type="xs:string" name="schwierigkeit"/>
                    <xs:element type="xs:string" name="terrain"/>
                    <xs:element type="xs:string" name="land"/>
                    <xs:element type="xs:string" name="Bundesland"/>
                    <xs:element type="xs:string" name="provinz"/>
                    <xs:element type="xs:string" name="beschreibung_klein"/>
                    <xs:element type="xs:string" name="beschreibung_lang"/>
                    <xs:element type="xs:string" name="Hinweise"/>
                    <xs:element type="xs:string" name="geschaetze_zeit"/>
                    <xs:element name="Travelbug">
                      <xs:complexType>
                        <xs:simpleContent>
                          <xs:extension base="xs:string">
                            <xs:attribute type="xs:string" name="t_id"/>
                          </xs:extension>
                        </xs:simpleContent>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="logs">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="log" maxOccurs="unbounded" minOccurs="0">
                      <xs:complexType mixed="true">
                        <xs:sequence>
                          <xs:element name="gefunden_von">
                            <xs:complexType>
                              <xs:simpleContent>
                                <xs:extension base="xs:string">
                                  <xs:attribute type="xs:string" name="b_id" use="optional"/>
                                </xs:extension>
                              </xs:simpleContent>
                            </xs:complexType>
                          </xs:element>
                          <xs:element type="xs:string" name="gefunden_datum"/>
                          <xs:element type="xs:string" name="Kommentar"/>
                        </xs:sequence>
                        <xs:attribute type="xs:string" name="id" use="optional"/>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="Kommentare">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="Kommentar" maxOccurs="unbounded" minOccurs="0">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="Autor">
                            <xs:complexType>
                              <xs:simpleContent>
                                <xs:extension base="xs:string">
                                  <xs:attribute type="xs:string" name="b_id" use="optional"/>
                                </xs:extension>
                              </xs:simpleContent>
                            </xs:complexType>
                          </xs:element>
                          <xs:element type="xs:string" name="Datum"/>
                          <xs:element type="xs:string" name="text"/>
                        </xs:sequence>
                        <xs:attribute type="xs:string" name="k_id" use="optional"/>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:attribute type="xs:string" name="c_id"/>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema><xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="CacheList">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Chache">
          <xs:complexType mixed="true">
            <xs:sequence>
              <xs:element name="location">
                <xs:complexType>
                  <xs:simpleContent>
                    <xs:extension base="xs:string">
                      <xs:attribute type="xs:float" name="lat"/>
                      <xs:attribute type="xs:float" name="lon"/>
                    </xs:extension>
                  </xs:simpleContent>
                </xs:complexType>
              </xs:element>
              <xs:element type="xs:string" name="name"/>
              <xs:element type="xs:string" name="datum"/>
              <xs:element type="xs:string" name="typ"/>
              <xs:element name="Owner">
                <xs:complexType>
                  <xs:simpleContent>
                    <xs:extension base="xs:string">
                      <xs:attribute type="xs:string" name="b_id"/>
                    </xs:extension>
                  </xs:simpleContent>
                </xs:complexType>
              </xs:element>
              <xs:element name="parkplatz">
                <xs:complexType>
                  <xs:simpleContent>
                    <xs:extension base="xs:string">
                      <xs:attribute type="xs:float" name="lat"/>
                      <xs:attribute type="xs:float" name="lon"/>
                    </xs:extension>
                  </xs:simpleContent>
                </xs:complexType>
              </xs:element>
              <xs:element name="informationen">
                <xs:complexType mixed="true">
                  <xs:sequence>
                    <xs:element type="xs:string" name="schwierigkeit"/>
                    <xs:element type="xs:string" name="terrain"/>
                    <xs:element type="xs:string" name="land"/>
                    <xs:element type="xs:string" name="Bundesland"/>
                    <xs:element type="xs:string" name="provinz"/>
                    <xs:element type="xs:string" name="beschreibung_klein"/>
                    <xs:element type="xs:string" name="beschreibung_lang"/>
                    <xs:element type="xs:string" name="Hinweise"/>
                    <xs:element type="xs:string" name="geschaetze_zeit"/>
                    <xs:element name="Travelbug">
                      <xs:complexType>
                        <xs:simpleContent>
                          <xs:extension base="xs:string">
                            <xs:attribute type="xs:string" name="t_id"/>
                          </xs:extension>
                        </xs:simpleContent>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="logs">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="log" maxOccurs="unbounded" minOccurs="0">
                      <xs:complexType mixed="true">
                        <xs:sequence>
                          <xs:element name="gefunden_von">
                            <xs:complexType>
                              <xs:simpleContent>
                                <xs:extension base="xs:string">
                                  <xs:attribute type="xs:string" name="b_id" use="optional"/>
                                </xs:extension>
                              </xs:simpleContent>
                            </xs:complexType>
                          </xs:element>
                          <xs:element type="xs:string" name="gefunden_datum"/>
                          <xs:element type="xs:string" name="Kommentar"/>
                        </xs:sequence>
                        <xs:attribute type="xs:string" name="id" use="optional"/>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="Kommentare">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="Kommentar" maxOccurs="unbounded" minOccurs="0">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="Autor">
                            <xs:complexType>
                              <xs:simpleContent>
                                <xs:extension base="xs:string">
                                  <xs:attribute type="xs:string" name="b_id" use="optional"/>
                                </xs:extension>
                              </xs:simpleContent>
                            </xs:complexType>
                          </xs:element>
                          <xs:element type="xs:string" name="Datum"/>
                          <xs:element type="xs:string" name="text"/>
                        </xs:sequence>
                        <xs:attribute type="xs:string" name="k_id" use="optional"/>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:attribute type="xs:string" name="c_id"/>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>